/*Use:  To style the navigation bar.

Author:  Emily Sheeley

School/Term:  University of Missouri, Summer 2020

Developed: July 27, 2020

Tested:  July 27, 2020; Passed on Safari and Chrome browsers.*/

@font-face {
    font-family: Shadows_Into_Light_Two; 
    src: url(ems756.github.io/islt_7310/docs/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf);
    }

/*Style for navigation bar.*/
#hamburger {
    display:none;
}

.active a:link {
    background-color: lightgray;
}

#name {
    margin-top: 0;
    float:left;
    font-family: 'Shadows Into Light Two', cursive;
    color:#078BE4;
    font-size: 35px;
    position: relative;
    border: none;
    background-color: aliceblue;
    padding-top: 0px;
    padding-left: 35px;
}
nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 15px;
    padding: 0; 
    float: right;
}

nav>ul li {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #078BE4;
    font-size: 12pt;
    float: left;
}

nav ul li{
    margin-bottom: 2px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    border: 2px dashed #078BE4;
    padding: 5px 5px 5px 5px;
    width: 150px;
    margin: 2px;
}

nav a:link {
    background-color: white;
}
nav a:hover, 
nav a:focus {
    background-color: antiquewhite;
}
nav a:active{
    background-color: aqua;
}

nav ul>li ul{
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float: none;
}

nav>ul>li:hover>ul{
    display: block;
}

@media only screen and (max-width: 640px) {
    
    #hamburger {
        display: inline-block;
        padding-left: 20px;
        width: 26px;
        float: left;
        font-size: 2em;
    }
    
    #name {
    float:none;
    margin: 0;
    font-family: 'Shadows Into Light Two', cursive;
    color:#078BE4;
    font-size: 35px;
    position: relative;
    border: none;
    background-color: aliceblue;
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
    display: inline-block;
}
    
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        z-index: 1;
        padding: 20px 20px 20px 0px;
        top: 20px;
    }
    nav:hover ul {
        display: block;
    }
    nav:hover #MobileHide {
        display: none;
    }
    nav li {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    nav>ul li {
        text-align: left;
        font-weight: bold;
        color: #078BE4;
        float: left;
    }
    nav a {
        text-decoration: none;
        display: inline-block;
        border-top: 3px dashed #078BE4;
        border-bottom: 3px dashed #078BE4;
        padding: 15px 0px 15px 35px;
        width: 240px;
        margin-bottom: 2px;
    }
    nav.LastMobile {border-bottom: 3px dotted #078BE4;}
        naav ul li ul {
            display: none;
        }
}