/*Use:  To style the portfolio website.

Author:  Emily Sheeley

School/Term:  University of Missouri, Summer 2020

Developed: July 27, 2020

Tested:  July 27, 2020; Passed on Safari and Chrome browsers.*/

@font-face {
    font-family: Shadows_Into_Light_Two; 
    src: url(ems756.github.io/islt_7310/docs/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf);
    }
/*Style for headings*/
h1 {color: #078BE4;font-size: 25pt; font-family: sans-serif; display: inline-block; text-align: center;}

h2 {clear: left; padding-top: 10px;}

h3 {color: #078BE4; font-size: 15pt;}

/*Style for elements*/

body {background-color: aliceblue; font-family: sans-serif; margin: 15px; text-align: justify;}

main {padding-right: 35px; padding-left: 35px; text-align: center; clear: left;}

section {font-size: 12pt; text-align: center; padding-right: 25px;}

.column {float: left;
  width: 45%;
  padding: 10px;
    height: auto;
  }

.column2 {float: right;
  width: 45%;
  padding: 10px;
    padding-right: 50px;
    height: auto;
}

.row:after {content: "";
  display: table;
  clear: both;} 

section li {list-style-type: square; text-align: left;}

ul.a {color:darkblue}

ul.b {color: royalblue}

#headshot {float: left; padding-right: 15px; margin-left: 10px; clear: left;}

blockquote {font-family: 'Shadows Into Light Two', cursive; color: #078BE4;font-size: 18pt;}

footer {border-top-color:#078BE4; 
    border-top-style: dashed; 
    padding-bottom: 5px; 
    clear: both;
}

.icon {
transition: transform 1s;    
}

.icon:hover {
    transform: scale(3);
}

address {
    display: inline-block;
}

#phone_number {
    display: inline-block;
}

.box { 
width: auto;
height: 45%;
background-image: url(images/background%20image.jpg) 
}

#resume {
    padding-top: 100px;
    float: left;
    padding-left: 125px;
   }

.iframe-container {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 75px;
    float: right;
    width: 45%;
}

#table{
    clear: left;
    padding-top: 20px;
}
caption {
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    font-size: 2em;
}
table {
    text-align: center;
    border: 2px solid black;
}

 th {
   text-decoration-color: white;
     background-color: #078BE4;
}

tr:nth-child(even) {
    background-color: aliceblue;
}
tr:nth-child(odd) {
    background-color: white;
}

.box p {color: white;}

#standards {
    text-align: justify;
}
#Actively_Learn {
    float: right;
    height: 100%;
    width: 100%;
}

#Epic {
    float: left;
    height: 100%;
    width: 100%;
}

#Canvas {
    float: right;
    height: 100%;
    width: 100%;
}

#reflect {text-align: justify; clear: left;}

#footer_reflect {clear: both;}

#submit_button {clear: both; background-color: aqua; width: 10%; height: 10%; padding: 10px; margin: auto;}

.column3 {float: left;
  width: 45%;
  padding: 10px;
    height: 100px;
    clear: left;
  }

.column4 {float: right;
  width: 45%;
  padding: 10px;
    padding-right: 50px;
    height: 100px;
}

.row2:after {content: "";
  display: table;
  clear: both;} 

.#contact_header {
    clear:both;
    float: none;
    text-align: center;
}

#contact {
    padding-bottom: 5%;
}

input {
    padding: 10px;
}

textarea {
    padding: 10px;
}

button {
    padding: 10px;
    font-size: 15pt;
    background-color: #078BE4;
    text-decoration-color: white;
}

/*Style for Copyright text*/
.copyright {font-size: 13px; text-align: left;}

/*Style for email link*/
a:link{color: #078BE4;text-decoration: none;}
a:visited{color: darkblue;text-decoration: none;}
a:hover{color: blue;}
a:focus{color: blue;}
a:active{color: blue;}
a.email{text-decoration: none; font-style: italic; font-size: 10pt;}

/*Style for icons*/
.iconbig {
    position: absolute;
    width: 0px;
    z-index: 10;
}

.icon:hover + .iconbig {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 640px) {
    h1 {float: none;}
    
    p {
        position: relative;
        display: block;
        width: 100%;
        font-size: 1em;
    }
    
    #name {
        display: inline-block;
    }
    
    section {
        position: relative;
        display: block;
        width: 100%;
    }
    #headshot {
        position: relative;
        float: none;
        width: 100%;
        height: auto;
        max-width: 250px;
        padding-top: 10px;
    }
   .column {float: none;
    width: 100%;
    height:auto;
    }
    
    .column2 {float: none;
    width:100%;
    clear: both;
    padding-top: 10%;
    height: auto;
    }
    
    section li {text-align: center;
    padding-right: 40px;}
   
    blockquote {
        float: none;
        display: block;
        clear: both;
    }
    
    #reflect {
        float: none;
        text-align: center;
        width: 90%;
        clear:both;
       padding-left: 0px;
    }
   
    p.b {
        float:none;
        display: block;
        width: 100%;
        clear: both;
    }
    
    #skills {
        float:none;
        display: block;
        width: 100%;
        clear: both;
    }
    
    p.c {
        float:none;
        display: block;
        width: 100%;
        clear: both;
    }
    #footer_reflect
    {
        clear: both;
        position: relative;
    }
    .column3 {
        float: none;
        position: relative;
        align-content: center;
        width: auto;
    }
    .column4 {
        float: none;
        position: relative;
        align-content: center;
        width: auto;
        padding-top: 25px;
    }
   
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 25%;
        height: 0;
        min-width: 50px;
        padding-top: 80px;
        padding-right: 0px;
        float: none;
    }
    
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    #resume {
        float:none;
        text-align: center;
        padding-top: 25%;
        padding-bottom: 25%;
        padding-left: 0px;
    }
    
    td {
        display: block;
    }
    
    thead {
        display: none;
    }
    
    footer p {
        max-width: 200px;
    }
    #phone_icon {
        clear: left;
    }
    #phone_number {
        display: inline-block;
    }
}

/*Print stylesheet*/
@media print {
    *{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    }
    
    nav {
    display: none;
    }

    h1, 
    p {
        text-align: center;
        width: 100%;
        font-family: serif;
        border: none;
    }
    
    img{
        float: none;
        width:35%;
    }
    
    @page {
        margin: .5cm;
    }
    
    h2 {
        page-break-before: always;
        font-family: serif;
    }
    
    .Para4 {
        float: left;
        clear: both;
    }
}



