/*Style for h1 heading*/
h1 {color: #0099ff;}

/*Style for Copyright text*/
.copyright {font-size: 10pt;}

/*Style for email link*/
a:link{color: green;}
a:hover{color: blue;}
a:focus{color: blue;}
a:visited{color: red;}
a:active{color: red;}
a{text-decoration: none; font-style: italic; font-size: 10pt;}

